<header class="govuk-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__logotype">
          <span class="govuk-header__logotype-text"> An example PWA </span>
        </span>
      </a>
    </div>
  </div>
</header>
<div id="wrapper" class="direction-ltr govuk-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag app-tag--inverse">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is an example service that is intended just as a demonstration.
      </span>
    </p>
  </div>
</div>